@import 'styles/var.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background-color: map-get($color, 'background2');
  padding: 0 2rem;

  h1 {
    line-height: 1;

    a,
    svg {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}

.btnGroup {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
