@import 'styles/var.scss';
.btn {
  height: $inputHeight;
  padding: 0 2rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  background-color: var(--gray01);
  border: 1px solid var(--gray02);
  color: var(--textPrimary);
  border-radius: $borderRadius;

  &.fillPrimary {
    border-width: 0;
    color: #fff;
    svg {
      fill: #fff;
    }
    border-color: var(--primary);
    background-color: var(--primary);
    &:disabled {
      @include getColor(background-color, primary, 0.6);
    }
  }
}
