@import 'styles/var.scss';

.post__list {
  li {
    background-color: map-get($color, background2);
    box-shadow: $boxShadow;
    padding: 2rem;
    border-radius: 1rem;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}
