@import 'styles/var.scss';
.tabWrap {
  display: flex;
  gap: 2em;
  margin: 2rem auto;

  box-shadow: inset 0 -1px #ddd;
  button {
    min-width: 4em;
    padding: 0.5em 1em;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;

    &.active {
      border-bottom: 3px solid map-get($color, primary);
      color: map-get($color, primary);
    }
  }
}
