@use 'sass:map';

// 폰트
$font: 'Pretendard', san-serif;

// 컬러
$color: (
  'primary': #37abec,
  'text': black,
  'background': #f5f6f9,
  'background2': #fff,
  'gray': #eee,
  'grayLv1': #f5f6f9,
  'error': #ff2e3c,
);

// layout
$maxW: 1200;
$maxWidth: $maxW + 'rem';
$borderRadius: 0.4em;
$boxShadow: 5px 5px 2rem 0 rgba(0, 0, 0, 0.05);

// 로그인/회원가입
$signWidth: 40rem;
$inputHeight: 4rem;

@function fcSize($min, $max) {
  @return clamp($min * 0.1rem, (100vw / $maxW) * $max, $max * 0.1rem);
}
