// layout
$maxW: 1200;
$maxWidth: $maxW/10 + rem;
$borderRadius: 0.4em;
$boxShadow: 5px 5px 2rem 0 rgba(0, 0, 0, 0.05);
$boxShadowSmall: 3px 3px 1rem 0 rgba(0, 0, 0, 0.15);

// 로그인/회원가입
$signWidth: 40rem;
$inputHeight: 4rem;

// 폰트
$font: 'Pretendard', san-serif;

// 반응형 폰트 사이즈
@function fcSize($min, $max) {
  @return clamp($min * 0.1rem, (100vw / $maxW) * $max, $max * 0.1rem);
}

@mixin maxWidth($maxWidth, $padding) {
  width: $maxWidth;
  max-width: calc(100% - ($padding * 2));
  margin: 0 auto;
}

// 컬러
$light: (
  'primary': #37abec,
  'statusWarn': #f37c4b,
  'statusError': #ff2e3c,
  'textPrimary': #333,
  'textSecondary': #767676,
  'gray00': #fff,
  'gray01': #fff,
  'gray02': #eee,
  'gray03': #ddd,
  'gray04': #ccc,
  'gray05': #bbb,
);

$dark: (
  'primary': #37abec,
  'statusWarn': #f37c4b,
  'statusError': #ff2e3c,
  'textPrimary': #fff,
  'text-secondary': #eee,
  'gray00': #1a1a1a,
  'gray01': #1e1e1e,
  'gray02': #222,
  'gray03': #333,
  'gray04': #444,
  'gray05': #555,
);

// 컬러 테마
:root {
  @each $k, $v in $light {
    #{"--" + $k}: #{$v};
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    @each $k, $v in $dark {
      #{"--" + $k}: #{$v};
    }
  }
}
@mixin getColor($property, $colorName, $opacity: 1) {
  #{$property}: rgba(map-get($light, $colorName), $opacity);

  @at-root .dark & {
    #{$property}: rgba(map-get($dark, $colorName), $opacity);
  }
  @media screen and (prefers-color-scheme: dark) {
    #{$property}: rgba(map-get($dark, $colorName), $opacity);
  }
}
/*
  컬러 적용방법 

  기본 컬러 적용 
  background-color: var(--primary);

  투명값 적용
  @include getColor(background-color, primary, 0.5);
*/

.max-width {
  width: $maxWidth;
  max-width: calc(100% - 6rem);
  margin: 0 auto;
}
