@import 'styles/var.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 2rem;

  background-color: var(--gray00);
  h1 {
    line-height: 1;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
