@import 'styles/var.scss';

[data-theme='light'] {
  color: #000;
  background-color: var(--gray00);
}
[data-theme='dark'] {
  color: #fff;
  background-color: #333;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    flex-grow: 1;
  }
}
