@import 'styles/var.scss';
@import 'styles/global.scss';

.form-wrap {
  width: $signWidth;
  margin: fcSize(50, 100) auto;

  .title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .sign-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.errorMsg {
  color: map-get($color, 'error');
  font-size: 0.9em;
}

.profile {
  width: 12rem;
  height: 12rem;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
  }

  position: relative;

  [class^='file-wrap'] {
    width: 4rem;
    height: 4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(10%, 10%);

    label,
    input[type='file'] {
      border-radius: 50%;
    }
    label {
      display: block;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      background-color: map-get($color, primary);
      cursor: pointer;

      span {
        @extend .a11y-hidden;
      }
    }

    input[type='file'] {
      padding: 0;
    }
  }
}
