@import 'styles/var.scss';
.noti__count {
  background-color: var(--primary);
  color: #fff;
  padding: 0.1em 0.5em 0;
  position: absolute;
  top: 0.2rem;
  right: -0.4rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  border: 3px solid #fff;
}

.no__noti {
  color: #767676;
  text-align: center;
  padding: 1em;
}

.link {
  @include getColor(background-color, primary, 0.1);
  margin-top: 0.5rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-weight: bold;
  border-radius: 1rem;
}
