@import 'styles/var.scss';

.noti__item {
  &:not(:first-child) {
    border-top: 1px solid #ddd;
  }
  button {
    width: 100%;
    padding: 1em 1.4em 1em 1em;
    text-align: left;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
    .createdAt {
      color: #767676;
      font-size: 0.9em;
    }

    &.unread::after {
      content: '';
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: map-get($color, primary2);

      position: absolute;
      top: 1em;
      right: 1em;
    }
  }
}
