@import 'styles/var.scss';

.noti__item {
  border-bottom: 1px solid #ddd;
  button {
    width: 100%;
    padding: 1em;
    text-align: left;
    position: relative;

    &.unread::after {
      content: '';
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: map-get($color, primary2);

      position: absolute;
      top: 1rem;
      right: 0em;
    }
  }
}
