@import 'styles/var.scss';

.searchForm {
  border: 1px solid var(--gray03);
  border-radius: $borderRadius;
  height: 4rem;
  display: flex;
  align-items: center;

  input {
    border: none;
    height: 100%;
    outline: none;
  }
  button {
    width: 6rem;
    background-color: var(--gray03);
    height: 100%;
  }
}

.btnCancel {
  width: 6rem;
  height: 4rem;
}
.unsplash_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.select__img,
.unsplash_list li img {
  width: 100%;
  aspect-ratio: 288/180;
  object-fit: cover;
}
