@import 'styles/var.scss';
.loader-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
  color: map-get($color, primary);
}
.loader {
  width: 6rem;
  height: 8rem;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
  }

  &::before,
  &::after {
    content: '';
    aspect-ratio: 1/1;
    display: block;
    border: 5px solid map-get($color, primary);
    box-sizing: border-box;
  }
  &::before {
    width: 2rem;
    animation: scale1 1s infinite;
  }

  &::after {
    width: 4rem;
    animation: scale2 1s infinite;
  }
}

@keyframes scale1 {
  from {
    width: 1rem;
  }
  to {
    width: 3rem;
  }
}

@keyframes scale2 {
  from {
    width: 3rem;
  }
  to {
    width: 5rem;
  }
}
