@import 'styles/var.scss';

.hash {
  margin-bottom: 2rem;
}
.hashWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  align-items: center;

  margin-top: 0.8rem;

  min-height: 3.6rem;

  background-color: map-get($color, 'background2');
  box-shadow: 5px 5px 2rem 0 rgba(0, 0, 0, 0.05);
  padding: 0.5em;
  border-radius: $borderRadius;

  transition: all 0.2s;
  &:focus-within {
    outline: 1px solid map-get($color, primary);
  }

  .hashtags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;

    .hashtag {
      font-size: 0.9em;
      border: 1px solid rgba(map-get($color, primary), 0.5);
      color: map-get($color, primary);
      background-color: rgba(map-get($color, primary), 0.05);
      border-radius: 2em;
      height: 3rem;
      padding: 0 0.8em;
      display: inline-flex;
      align-items: center;
      gap: 0.1em;
      &::before {
        content: '#';
      }

      .hash_del {
        margin-left: 0.3em;
      }
    }
  }
  input {
    min-width: 10em;
    flex-grow: 1;
    height: 3rem;
    &:focus {
      outline: none;
    }
  }
}
