@import 'styles/var.scss';

.subBg {
  background: url(../../../../public/images/post-background6.png) no-repeat 50%
    50% / cover;

  height: fcSize(200, 420);

  color: #fff;

  display: flex;

  p {
    padding: 0 4rem;
    width: 30%;
    min-width: fit-content;
    background-color: rgba(40, 48, 63, 0.5);
    backdrop-filter: blur(2px);
  }
}
.today {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;

  .month,
  .day {
    font-size: fcSize(30, 50);
  }
  .date {
    font-size: fcSize(50, 100);
  }
}
