@import 'styles/var.scss';

.form-wrap {
  width: $signWidth;
  margin: fcSize(50, 100) auto;

  .title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .sign-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.errorMsg {
  color: map-get($color, 'error');
}
